<style>
      .t {
        background: #2a2e32;
      }
      
      .text-small {
        font-size: 0.9rem;
      }
      
      a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
      }
      
      a:hover, a:focus {
        text-decoration: none;
      }
      
      .form-control {
        background: #212529;
        border-color: #545454;
      }
      
      .form-control:focus {
        background: #212529;
      }
      
      footer {
        background: #212529;
      }
      
      
      /* ==========================================
          CUSTOM UTILS CLASSES
        ========================================== */
        body, html {
          height: 100%;
        }


</style>

<div class="d-flex flex-column h-100" id="t">

    
    <section class="hero text-white py-5 flex-grow-1">
    </section> 


    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">About</h5>
                    <p class="small text-muted">This is a fun project</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved.</p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Contact</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="https://github.com/neelarya19">Github</a></li>
                        <li><a href="www.linkedin.com/in/neel-kumar-arya-100423165">LinkedIn</a></li>
                        <li>neelarya19@gmail.com</li>
                    </ul>
                </div>
                {% comment %} <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div> {% endcomment %}
                {% comment %} <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div> {% endcomment %}
            </div>
        </div>
    </footer>
</div>